a {
    text-decoration: none;
    color: white
}


/* Cabecera pegada arriba */

#nav {
    display: block;
    height: 3.5rem;
    /* 3.5rem */
    width: 100%;
    background-color: #571845;
}

.logo {
    position: relative;
    float: left;
    line-height: 51px;
    margin-left: 50px;
    justify-content: flex-start;
}

.logo a {
    font-style: italic;
    color: white;
    transition: all 300ms;
}

.logo a:nth-child(2) {
    color: transparent;
    margin-left: 10px;
    color: transparent;
}

.logo:hover a:nth-child(2) {
    font-size: 25px;
    color: white;
}

@keyframes fromLeft {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
}

.logo a span {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}


/* BARRA DE NAVEGACION */

#nav>ul {
    float: right;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin-right: 50px;
}

#nav>ul>li {
    padding: 16px;
    transition: all 300ms;
}

#nav ul li:hover {
    background-color: #FF5733;
}

.clear-float {
    clear: both;
}

.active {
    background-color: #ff583370;
}


/*Del 0px al 843px*/

@media (max-width: 885px) {
    #nav>ul {
        display: none;
    }
}

@media (max-width: 1068px) {
    .logo a:nth-child(2) {
        display: none;
    }
    .logo:hover a:nth-child(2) {
        display: none;
    }
}