<div class="contenido">


    <ng-sidebar-container class="sidebar">
        <ng-sidebar [opened]="opened">
            <!-- Sidebar -->
            <a (click)="toggleSidebar()">
                <i id="iconSidebar" class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <div class="encabezadoSidebar">

                <p id="titleSidebar">DC</p>
            </div>

            <ul id="menu">
                <li (click)='toProfile()' routerLinkActive="active"><a routerLink="profile">Profile</a></li>

                <li (click)='toPortfolio()' routerLinkActive="active"><a routerLink="projects">Portfolio</a></li>

                <li (click)='toSkills()' routerLinkActive="active"><a routerLink="skills">Skills</a></li>

                <li (click)='toContact()' routerLinkActive="active"><a routerLink="contact">Contact</a></li>

                <li routerLinkActive="active" *ngIf="userService.token"><a routerLink="create-project">Creat New Project</a></li>
                <li routerLinkActive="active" *ngIf="!userService.token"><a routerLink="signin">Login</a></li>
                <li (click)="logout()" *ngIf="userService.token"><a routerLink="profile">Logout</a></li>
            </ul>
            <p id="quote">"Persistence is very important. You should not give up unless you are forced to give up." <b>Elon Musk</b></p>
        </ng-sidebar>

        <div ng-sidebar-content>
            <!-- Page header -->
            <app-banner></app-banner>

            <app-header></app-header>

            <a (click)="toggleSidebar()" class="abrirSidebar">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>

            <!-- Page Content -->
            <router-outlet></router-outlet>


            <app-footer></app-footer>

        </div>
    </ng-sidebar-container>




</div>