<div id="contacto">
    <div class="container p-5" id="carta">
        <div class="row">

            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Contact</h3>
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Name" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="message" rows="2" class="form-control" placeholder="Message"></textarea>
                            </div>
                            <button class="btn btn-primary btn-block">
                                Enviar
                            </button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>